.field textarea.codeBankFullWidth {
    width: 97%;
    max-width: 100%;
}

.codebank-tree #record-0 ins, .codebank-tree #record-0 strong {
    display: none !important;
}

.codebank-tree #record-0 li > ins {
    display: inline-block !important;
}

.codebank-tree .class-SnippetLanguage .jstree-pageicon {
    background: url(./../images/tree-sheet.png) no-repeat;
}

.codebank-tree .class-SnippetLanguage.jstree-open .jstree-pageicon {
    background-position: 0 -16px;
}

.codebank-tree .class-SnippetLanguage .class-SnippetFolder .jstree-pageicon {
    background: url(./../images/tree-sheet.png) no-repeat 0 -64px;
}

.codebank-tree .class-SnippetLanguage .class-SnippetFolder.jstree-open > a > span > .jstree-pageicon {
    background-position: 0 -80px;
}

.codebank-tree .class-Snippet .jstree-pageicon {
    background: url(./../../framework/admin/images/sitetree_ss_pageclass_icons_default.png) no-repeat !important;
}

.codebank-tree .class-SnippetPackage .jstree-pageicon {
    background: url(./../images/tree-sheet.png) no-repeat 0 -48px !important;
}

.CodeBank .cms-content-fields {
    background: url(./../images/edit-form-background.png) no-repeat center center;
}

.CodeBank .Actions label {
    display: inline-block;
    
    line-height: 28px;
    
    border-left: 1px solid #D1D5D6;
    
    margin-left: 20px;
    padding-left: 30px;
}

.CodeBank .Actions select {
    padding: 5px;
}

.CodeBank .cms-content-toolbar {
    border-bottom: 0;
    box-shadow: none;
}

.cms-container .CodeBank .cms-edit-form {
    background: #e6eaed;
}

.cms-container .CodeBank .cms-edit-form .ui-tabs-nav {
    border-bottom: none;
    float: right;
    margin: 8px 0 -1px 0;
    padding: 0 24px 0 0;
}

.cms-container .CodeBank .cms-edit-form .ui-tabs-nav li {
    float: left;
}

.cms-container .CodeBank .cms-edit-form .ui-tabs-nav li a {
    font-weight: bold;
    line-height: 16px;
    padding: 8px 20px 8px;
}

.cms-container .CodeBank .cms-edit-form .ui-tabs-nav .ui-state-default, .cms-container .CodeBank .cms-edit-form .ui-tabs-nav .ui-widget-content .ui-state-default, .cms-container .CodeBank .cms-edit-form .ui-tabs-nav .ui-widget-header .ui-state-default {
    border: 1px solid #c0c0c2;
}

.cms-container .CodeBank .cms-edit-form .ui-tabs-nav .ui-state-active, .cms-container .CodeBank .cms-edit-form .ui-tabs-nav .ui-widget-content .ui-state-active, .cms-container .CodeBank .cms-edit-form .ui-tabs-nav .ui-widget-header .ui-state-active {
    padding-bottom: 1px;
    background: #e6eaed;
    border: 1px solid #c0c0c2;
}

.cms-container .CodeBank .ss-tabset .ss-tabset {
    position: static;
}

.cms-container .CodeBank .ss-tabset .ui-tabs-panel {
    background: #e6eaed;
    border-top: 1px solid #c0c0c2;
    clear: both;
    
    padding: 1em 1.4em;
}

.cms-container .CodeBank .ss-tabset.ss-tabset-tabshidden .ui-tabs-panel {
    border-top: none;
}

.highlightedcontent .innerWrapper {
    background: #FFFFFF;
    
    min-height: 470px;
}

.CodeBank .zclip embed, .CodeBank .zclip object {
    height: 28px !important;
}

.CodeBank .zclip embed:focus, .CodeBank .zclip object:focus {
    outline: 0;
}

.CodeBankSettings .ui-button .btn-icon-export {
    background: url(./../images/database-export.png) no-repeat;
}

.CodeBankSettings .ui-button .btn-icon-import {
    background: url(./../images/database-import.png) no-repeat;
}

#Form_EditForm_IPMessageTitle {
    border-bottom: 1px solid rgba(201, 205, 206, 0.8);
    box-shadow: 0 1px 0 rgba(244, 245, 245, 0.8);
    
    margin: 0 0 28px;
    padding: 0 0 7px;
    
    text-align: center;
}

.cms table.ss-gridfield-table tbody td a.cb-export-link {
    background-image: url(./../images/box-arrow.png);
}

.cms table.ss-gridfield-table tbody td a.cb-export-link:focus {
    outline: 0;
}