.packageview .middleColumn {
    padding-top: 2px;
}

.packageview p {
    margin: 5px 0;
}

.packageview li {
    font-size: 14px;
    font-weight: bold;
    
    list-style: none;
    
    padding-left: 10px;
}

.packageview li span {
    font-style: italic;
}

.packageview li + li {
    border-top: 1px solid rgba(201, 205, 206, 0.8);
    
    margin-top: 1em;
    padding-top: 1em;
}

.packageview ul li ul {
    margin: 5px 0 0 40px;
}

.packageview ul li ul li {
    font-size: 12px;
    font-weight: normal;
    
    list-style: url(./../images/tree.gif);
    
    margin: 0;
    padding-left: 0;
}

.packageview ul li ul li + li {
    border-top: 0;
    
    margin-top: 0;
    padding-top: 0;
}

.packageview ul li a.exportPackageButton {
    display: inline-block;
    
    background: #BFCAD2 url(./../images/box-arrow.png) no-repeat 5px center;
    
    font-size: 12px;
    font-weight: normal;
    color: #1F1F1F;
    
    margin-left: 40px;
    padding: 5px 10px 5px 26px;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    text-shadow: 1px 1px 0 #BFCAD2;
}

.packageview ul li a.exportPackageButton:focus {
    outline: 0;
}

.packageview ul li a.exportPackageButton:hover, .packageview ul li a.exportPackageButton:active {
    background-color: #338DC1;
    
    color: #FFFFFF;
    
    text-shadow: none;
    text-decoration: none;
}