.header, #sidebar, #snippetActions {
    display: none !important;
}

html, body, #bodyWrapper, #contentWrapper, #SnippetScreen, #snippetContainer {
    height: auto !important;
    overflow: visible !important
}

#SnippetScreen {
    position: relative;
    left: 0;
    top: 0;
    
    width: auto;
}

#contentWrapper, #snippetContainer {
    width: auto;
    
    margin: 0;
}

.footer {
    margin-top: 24px;
}
